.home{
    text-align: center;
	font-size: 20pt;
	font-family:  'Times New Roman', Times, serif;
}
table {
    border: 1px solid #000;
}

.return{
	font-size: 20pt;
}

body{
	font-size: 15pt;
}

#museoimg{
	height: 500px;
}

.map{
	float: left;
}

td, th {
	border: medium solid gray;
}

